{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4 py-2">
            <div class="d-flex flex-column justify-content-between thumbnail shadow rounded p-2">
                <div class="caption">
                    <p class="d-flex justify-content-end">
                        {% if task.isDone %}<span class="badge badge-success bg-success">Done</span>{% else %}<span class="badge badge-danger bg-danger">In Progress</span>{% endif %}
                    </p>
                    <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                    <p class="text-justify">{{ task.content }}</p>
                </div>
                <div class="d-flex gap-2 justify-content-end mt-2">
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-success btn-sm pull-right">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    {# [NEW FEATURE] show delete button for owner author of task or if author of task is anonymous then show delete button for admin only #}
                    {% if app.user == task.author or (task.author == null and is_granted('ROLE_ADMIN')) %}
                        <form action="{{ path('task_delete', {'id' : task.id }) }}">
                            <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
